.browserwarning {
	/*  position:absolute; */
	width: 100%;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #A29330;
	background: #FDF2AB no-repeat 1em 0.55em
		url(https://browser-update.org/img/dialog-warning.gif); 
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 12px;
	padding: 5px 36px 5px 40px;
}

.popupOptions {
	left: 35%;
	width: 500px;
	position: fixed;
	top: 20px;
	background: white;
	padding: 20px 30px;
	text-align: left;
}

.pizzaPopupOptions, .mexicanPopupOptions, .thaiPopupOptions,
	.sandwichPopupOptions, .middleEasternPopupOptions,
	.fullMenuPopupOptions {
	left: 50%;
	margin-left: -325px;
	/*max-width: 750px;*/
	/*position: static;*/
	top: 20px;
	background: white;
	padding: 20px 30px;
	/*text-align: left;*/
}

@media screen and (max-width: 690px) {
	.pizzaPopupOptions, .mexicanPopupOptions, .thaiPopupOptions,
		.sandwichPopupOptions, .middleEasternPopupOptions, .popupOptions,
		.selectCuisinePopupOptions, .forgotPasswordPopup,
		.searchRestaurantPopup, .nologinPopup {
		width: 100%;
		margin: 0;
		position: static;
	}
}

.selectCuisinePopupOptions {
	left: 35%;
	width: 300px;
	height: 150px;
	position: fixed;
	top: 20px;
	background: white;
	padding: 20px 30px;
	text-align: left;
}

.forgotPasswordPopup {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
}

.searchRestaurantPopup {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 20px auto;
	position: relative;
}

.nologinPopup {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 20px auto;
	position: relative;
}

.videowrapper {
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.search-cuisine-filter {
	border: 1px solid #ccc;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 15px;
	margin-bottom: 20px;
	background: #f9f9f9;
}

.search-restaurant-div {
	border: 1px solid #ccc;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 6px 6px 5px #888888;
}

.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

.pizza-item-close, .thai-item-close, .mexican-item-close,
	.sandwich-item-close, .middle-eastern-item-close, .item-close {
	cursor: pointer;
	padding-left: 4px;
	padding-top: 1px;
}

.search-box {
	z-index: 999;
	color: #000;
	/* position: relative;  */
	top: 50%;
	margin: auto;
	max-width: 800px;
	padding: 10px;
}

.search-box input {
	height: 30px;
	border: none;
	margin: 10px 0;
	padding: 0;
	font-size: 16px;
}

.search-box input {
	width: 200px;
	padding-left: 5px;
}

.trans-bg {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	padding: 20px;
}

.clr {
	clear: both;
}

.full-menu-list-item {
	padding-left:10px;
}