/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
@-ms-viewport{
  width: device-width;
}

/* Carousel base class */
.carousel {
  width: device-width;
   margin-bottom: 60px; 
}



