@CHARSET "ISO-8859-1";
body { 
	font-size: 40px;
	font-family: "" Lucida Grande ", " Lucida Sans Unicode ", Helvetica, Arial, Verdana, sans-serif"; 
}

.footer { text-align: center;font-size: 80%;color: #a0a0a0;padding: 20px; }

.top_menu {
	background: #FFFFFF;
	width: 100%;
}

.top_menu_item {
	text-align: center;
	vertical-align: center;
	margin: 0;
	font-size: 18px;
	color: #52525A;
	background: #FFFFFF;
	height: 2.55556em;
	width: 100px;
    background-position: 50% 40%;
    background-size: 1.05556em 1.27778em;
    background-size: 19px 23px\0;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}

a {
	text-decoration: none;
}

.top_menu_item:hover {
	color: #FFFFFF;
	background: #52525A;
}

.homePageBanner {
	background: url('images/sacramento_banner.jpg');
	background-repeat: no-repeat;
	/* background-position:center center; */
	
	height: 400px;
	width: 900px;
	/* overflow: hidden; */
	/* position: relative; */
	/* width:100%; */
	color: #FFFFFF;
}
.homePageBanner-left {
	float: left;
	padding: 10px 10px 10px 60px; /* top right bottom left */ 
	vertical-align: top;
}
.homePageBanner-right {
	padding: 75px 60px 10px 100px; /* top right bottom left */ 
	vertical-align: top;
}

.heading{margin-top:0;padding-top:10px;font-size:70px;font-weight:normal;line-height:1;color:#fff;letter-spacing:-1px}

.subheading{margin:10px 0 0;font-size:30px;line-height:1.5;color:#fff}

inputs:-webkit-input-placeholder {
    color: #b5b5b5;
}
inputs-moz-placeholder {
    color: #b5b5b5;
}

.inputs {
	color: #9D9E9E;
	padding: 15px 25px;
	border: 1px solid #FFF;
    border-radius: 5px;
}

.button {
	width:100%;
	padding: 15px 20px;
	text-align:center;
	background-color:#4a993e;
	border-radius: 5px;
	color: #ffffff;
	font-size: 15px;
}

.pull-right{float:right;padding-right:15px;padding-left:0;border-left:0;vertical-align: top;}
.pull-left{float:left;padding-right:15px;padding-left:0;border-left:0;vertical-align: top;}







